
/*Custom font*/
@font-face {
	font-family: 'RaleWay';
	src: url('fonts/raleway_thin-webfont.woff') format('woff'),
		/* Pretty Modern Browsers */
		url('fonts/raleway_thin-webfont.ttf') format('tff');
	/* Safari, Android, iOS */
}


/* GLobal Style */
html {
	background-color: #869960;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit
}

a,
img {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 87%;
	font-weight: 300;
}

.container {
	width: 100%;
	margin: 20px auto;
	background: url(../images/color-tile.png) left bottom repeat-x, url(../images/color-tile.png) left top repeat-x;
	background-color: #FFF;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 40px;
	padding-right: 40px;
}



.text-style {
	text-indent: 1.8em;
	line-height: 1.7;
}

/* Header Style */
.header {
	padding-top: 20px;
	color: #617140;
	font-weight: 400;
	background: #fff url(../images/leaf-title.jpg) right center no-repeat;
}

.header__title {
	margin: 0;
	font-size: 165%;
}

.header__slogan {
	margin: 0;
}

/* Navitation Bar Style */
.nav {
	margin-top: 20px;
}

.nav__list {
	display: flex;
	margin: 0;
	padding: 0;
}

.nav__list--submenu {
	position: absolute;
	background-color: #e5e9dc;
	margin: 0;
	padding: 0;
	display: none;
	box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.32);
	z-index: 9999;
}

.nav__list-item {
	background-color: #fff;
	list-style: none;
	margin-right: 5px;
}

.nav__list-item-link {
	display: block;
	color: #617140;
	text-decoration: none;
	padding: 10px 20px;
	border: 3px solid #e5e9dc;
	border-bottom: none;
}

.nav__list-item-link--submenu {
	display: block;
	background-color: #e5e9dc;
	color: #617140;
	text-decoration: none;
	padding: 10px 20px;
	border: 3px solid #e5e9dc;
	border-bottom: none;
}

.nav__list-item:hover > .nav__list-item-link {
	background-color: #e5e9dc;
}

.active-hover {
	background-color: #e5e9dc;
}

.nav__list--submenu .nav__list-item-link--submenu:hover {
	background-color: #869960;
	color: #fff;
}



/* .nav__list-item:hover .nav__list--submenu {
	display: block;
} */


/* Content Style */
.content-area {
	border-top: 3px solid #e5e9dc;
	border-bottom: 3px solid #e5e9dc;
}

/* Grid Style */
.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;
}

.col {
	width: 100%;
	padding: 0 20px;
}

.col-xs-11 {width: 91.662%}
.col-xs-10 {width: 83.332%;}
.col-xs-9 {width: 75%;}
.col-xs-8 {width: 66.662%;}
.col-xs-7 {width: 58.331%}
.col-xs-6 {width: 50%;}
.col-xs-5 {width: 41.662%}
.col-xs-4 {width: 33.332%;}
.col-xs-3 {width: 25%;}
.col-xs-2 {width: 16.662%;}
.col-xs-1 {width: 8.332%;}

@media screen and (min-width: 768px) {
	.container { width: 740px;}
	.col-sm-11 {width: 91.662%}
	.col-sm-10 {width: 83.332%;}
	.col-sm-9 {width: 75%;}
	.col-sm-8 {width: 66.662%;}
	.col-sm-7 {width: 58.331%}
	.col-sm-6 {width: 50%;}
	.col-sm-5 {width: 41.662%}
	.col-sm-4 {width: 33.332%;}
	.col-sm-3 {width: 25%;}
	.col-sm-2 {width: 16.662%;}
	.col-sm-1 {width: 8.332%;}
}


@media screen and (min-width: 1024px) {
	.container { width: 1000px;}
	.col-md-11 {width: 91.662%}
	.col-md-10 {width: 83.332%;}
	.col-md-9 {width: 75%;}
	.col-md-8 {width: 66.662%;}
	.col-md-7 {width: 58.331%}
	.col-md-6 {width: 50%;}
	.col-md-5 {width: 41.662%}
	.col-md-4 {width: 33.332%;}
	.col-md-3 {width: 25%;}
	.col-md-2 {width: 16.662%;}
	.col-md-1 {width: 8.332%;}
}

@media screen and (min-width: 1280px) {
	.container { width: 1200px;}
	.col-lg-11 {width: 91.662%}
	.col-lg-10 {width: 83.332%;}
	.col-lg-9 {width: 75%;}
	.col-lg-8 {width: 66.662%;}
	.col-lg-7 {width: 58.331%}
	.col-lg-6 {width: 50%;}
	.col-lg-5 {width: 41.662%}
	.col-lg-4 {width: 33.332%;}
	.col-lg-3 {width: 25%;}
	.col-lg-2 {width: 16.662%;}
	.col-lg-1 {width: 8.332%;}
}


/* Gallery Style */
.gallery {
	list-style: none;
	margin-bottom: 30px;
	padding: 0;
}

.gallery__item {
	margin-top: 30px;
}

.gallery__item-link {
	position: relative;
	display: block;
}

.gallery__item-image {
	width: 100%;
	display: block;
}

.overlay {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 99;
	background: rgba(0, 0, 0, .65);
	color: #fff;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	pointer-events: none;
	font-weight: 100;
}

.overlay__title {
	font-weight: 100;
	margin: 0;
	padding: 0;
}

.overlay__content {
	font-weight: 100;
	margin: 0px;
	padding: 0px;
}


/* Footer */
.footer {
	text-align: center;
	font-size: 85%;
	color: #999;
	padding-bottom: 20px;
	padding-top: 20px;
}
