body{
  margin: 0;
  padding: 0;
  background:#ccc;
}

.grid{
  width: 90%;
  margin:0 auto;
}

.grid-item{
  width: 200px;
  margin-bottom: 20px;
  padding:15px;
  background:#fff;
  border-radius:4px;
  box-shadow:0 1px 3px #999;
  box-sizing: border-box;
}

.grid-item img{
  width: 100%;
}
