.title {
    font-weight: 100;
    font-size: 3em;
}

h1 {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 3em;
}

.page1 {
    height: 100vh;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page2 {
    height: 100vh;
    background-color: lightyellow;
    padding: 5em 0;
}


.counter {
    margin-top: 30vh;
    font-size: 8rem;
    font-weight: 200;
    text-align: center;
}


.page3 {
    height: 100vh;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}


.block {
    margin-top: 40vh;
    width: 300px;
    height: 100px;
    background-color: lightblue;
}

