.container {
  width: 500px;
  height: 500px;
  border: solid black 2px;
  margin-left:auto;
  margin-right:auto;
  position: relative;
}

.box1 {
  width: 50px;
  height: 50px;
  background-color: darkgray;
}
