
/*Custom font*/
@font-face {
	font-family: 'RaleWay';
	src: url('fonts/raleway_thin-webfont.woff') format('woff'),
		/* Pretty Modern Browsers */
		url('fonts/raleway_thin-webfont.ttf') format('tff');
	/* Safari, Android, iOS */
}


/* GLobal Style */
html {
	background-color: #869960;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 87%;
	font-weight: 300;
}

.container {
	max-width: 940px;
	margin: 0 auto;
	background: url(../images/color-tile.png) left bottom repeat-x, url(../images/color-tile.png) left top repeat-x;
	background-color: #FFF;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 40px;
	padding-right: 40px;
}

.text-style {
	text-indent: 1.8em;
	line-height: 1.7;
}

/* Header Style */
.header {
	padding-top: 20px;
	color: #617140;
	font-weight: 400;
	background: #fff url(../images/leaf-title.jpg) right center no-repeat;
}

.header__title {
	margin: 0;
	font-size: 165%;
}

.header__slogan {
	margin: 0;
}

/* Navitation Bar Style */
.nav {
	margin-top: 20px;
}

.nav__list {
	display: flex;
	margin: 0;
	padding: 0;
}

.nav__list--submenu {
	position: absolute;
	background-color: #e5e9dc;
	margin: 0;
	padding: 0;
	display: none;
	box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.32);
	z-index: 9999;
}

.nav__list-item {
	background-color: #fff;
	list-style: none;
	margin-right: 5px;
}

.nav__list-item-link {
	display: block;
	color: #617140;
	text-decoration: none;
	padding: 10px 20px;
	border: 3px solid #e5e9dc;
	border-bottom: none;
}

.nav__list-item-link--submenu {
	display: block;
	background-color: #e5e9dc;
	color: #617140;
	text-decoration: none;
	padding: 10px 20px;
	border: 3px solid #e5e9dc;
	border-bottom: none;
}

.nav__list-item:hover > .nav__list-item-link {
	background-color: #e5e9dc;
}

.active-hover {
	background-color: #e5e9dc;
}

.nav__list--submenu .nav__list-item-link--submenu:hover {
	background-color: #869960;
	color: #fff;
}



/* .nav__list-item:hover .nav__list--submenu {
	display: block;
} */


/* Content Style */
.content-area {
	border-top: 3px solid #e5e9dc;
	border-bottom: 3px solid #e5e9dc;
}

.main-area {
	margin-left: -30px;
}

/* Gallery Style */
.gallery {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
	/* margin-left: -30px; */
}

.gallery__item {
	margin-top: 30px;
	padding-left: 30px;
	width: calc(100%/3);
}

.gallery__item-link {
	display: block;
	position: relative;
}

.gallery__item-image {
	width: 100%;
	display: block;
}

.overlay {
	display: none;
	background: rgba(0, 0, 0, .65);
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 100;
	widows: 100%;
	padding: 10px;
	box-sizing: border-box;
	pointer-events: none;
	font-weight: 100;
}

.overlay h3 {
	font-weight: 100;
	margin: 0;
	padding: 0;
}

.overlay p {
	font-weight: 100;
	margin: 0px;
	padding: 0px;
}


/* Footer */
.footer {
	text-align: center;
	font-size: 85%;
	color: #999;
	padding-bottom: 20px;
	padding-top: 20px;
}
