/*Global Style*/
html {
	background-color: #869960;
}

body {
	font-family: Tahoma, sans-serif;
	font-size: 87%;
}

.container {
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
	padding-left: 40px;
	padding-right: 40px;
	box-sizing: border-box;
}

/*Header Style*/
header {
	padding-top: 20px;
	color: #617140;
}

header h1 {
	margin: 0;
	font-weight: normal;
	font-size: 165%;
}

header p {
	margin: 0;
}

/* Navigator Style */
.site-nav {
	margin-top: 20px;
}

.site-nav ul {
	margin: 0;
	padding: 0;
}

.site-nav li {
	list-style: none;
	float: left;
	margin-right: 5px;
}

.site-nav a {
	display: block;
	color: #617140;
	text-decoration: none;
	padding: 10px 20px;
	border: 3px solid #e5e9dc;
	border-bottom: none;
}

.site-nav a:hover {
	background-color: #e5e9dc;
}

/*Content Style*/
.content-area {
	border-top: 3px solid #e5e9dc;
	border-bottom: 3px solid #e5e9dc;
}

/*Article Style*/
.main-area {
	width: 66%;
	float: left;
	padding-right: 40px;
	box-sizing: border-box;
}

/*Aside Style*/
.sidebar {
	width: 34%;
	float: left;
	background-color: #e5e9dc;
	padding: 20px 40px;
	box-sizing: border-box;
	font-size: 85%;
}

/*Footer Style*/
footer {
	text-align: center;
	font-size: 85%;
	color: #999;
	padding-bottom: 20px;
	padding-top: 20px;
}

/*Float CLear*/
.clear:after {
	content:"";
	display: block;
	clear: both;
}
