.page1 {
    height: 40rem;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page2 {
    height: 40rem;
    background-color: lightyellow;
    display: flex;
    align-items: center;
}

.page3 {
    height: 40rem;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    width: 300px;
    height: 100px;
    background-color: blue;
    /* margin-left: 0px; */
    margin: 0;
    padding: 0;
}

