/* Custom Fonts */
@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans.woff2') format('woff2'),
			url('fonts/PT-Sans.woff') format('woff'),
			url('fonts/PT-Sans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans-Bold.woff2') format('woff2'),
			url('fonts/PT-Sans-Bold.woff') format('woff'),
			url('fonts/PT-Sans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans-Italic.woff2') format('woff2'),
			url('fonts/PT-Sans-Italic.woff') format('woff'),
			url('fonts/PT-Sans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans-BoldItalic.woff2') format('woff2'),
			url('fonts/PT-Sans-BoldItalic.woff') format('woff'),
			url('fonts/PT-Sans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}


html {
	background-color: #608699;
	line-height: 1.7;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: 'PTSans', Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

.vh100 {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

.show-large {
	display: none;
}



/* Main Column Typography */

.section {
	padding-left: 20px;
	padding-right: 20px;
}


@media screen and (min-width: 767px) {

	.section {
		padding-left: 40px;
		padding-right: 40px;
	}

}

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	overflow: hidden;
}

.container--fluid {
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
	overflow: hidden;
}


@media screen and (min-width: 768px) {

	.container {
		width: 740px;
		margin: 0 auto;
		padding: 0 20px;
	}

	.show-large {
		display: block;
	}

	.container--fluid {
		width: 740px;
		margin: 0 auto;
		padding: 0 20px;
	}

}

@media screen and (min-width: 1024px) {

	.container {
		width: 1000px;
	}

	.container--fluid {
		width: 1000px;
	}

	body {
		font-size: 16px;
	}
}

@media screen and (min-width: 1280px) {
	.container {
		width: 1200px;
	}

	.container--fluid {
		width: 1200px;
	}
}

.header {
	padding-top: 20px;
	color: #FFF;
	background-color: #405c71;
}

.header__title {
	margin: 0;
	font-weight: normal;
	font-size: 165%;
}

.header__slogan {
	font-size: 90%;
	margin: 0;
}

/* Site Navigation */
.nav {
	margin-top: 20px;
}


.nav__list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5px;
	margin: 0;
	padding: 0;
}

.nav__item {
	list-style: none;
}

.nav__link {
	display: block;
	color: #FFF;
	background-color: #365267;
	padding: 15px 0;
	margin-right: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.nav__link:hover {
	background-color: #2c465a;
}

@media screen and (min-width: 768px) {

	.nav__list {
		grid-template-columns: repeat(3, 1fr);
	}

	.nav__item {
		margin-right: 0;
	}

}

@media screen and (min-width: 1023px) {

	.nav__list {
		display: flex;
		grid-template-columns: none;	
	}

	.nav__item {
		width: auto;
		margin-right: 5px;
	}

	.nav__link {
		padding: 10px 20px;
		margin: 0px;
		text-align: center;
	}

}

/* End Site Navigation */
.content-area {
	background-color: #FFF;
	padding-bottom: 40px;
	padding-top: 20px;
}

@media screen and (min-width: 767px) {
	.content-area {
		padding-top: 40px;
	}
}

@media screen and (min-width: 1023px) {
	.main-area {
		padding-right: 40px;
	}
}


.sidebar {
	color: #999;
	font-size: 85%;
}

.sidebar h3 {
	font-size: 138.5%;
	margin-bottom: 7px;
}

.info-box {
	background-color: #efeedb;
	border: 5px solid #e6e5c2;
	padding: 20px 40px 7px 40px;
}

.box-a {
	background-color: #e7eff5;
	padding: 20px 20px 0 20px;
	border: 2px solid #d3dee7;
}

/* Footer Style */
.footer {
	text-align: center;
	font-size: 85%;
	color: #FFF;
	padding-bottom: 20px;
	padding-top: 20px;
}

/* Grid Style */
.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 20px;
	margin-bottom: 20px;
}

.g-col-12 {
	grid-column: span 12;
}

.g-col-xs-1 { grid-column: span 1; }
.g-col-xs-2 { grid-column: span 2; }
.g-col-xs-3 { grid-column: span 3; }
.g-col-xs-4 { grid-column: span 4; }
.g-col-xs-5 { grid-column: span 5; }
.g-col-xs-6 { grid-column: span 6; }
.g-col-xs-7 { grid-column: span 7; }
.g-col-xs-8 { grid-column: span 8; }
.g-col-xs-9 { grid-column: span 9; }
.g-col-xs-10 { grid-column: span 10; }
.g-col-xs-11 { grid-column: span 11; }

@media screen and (min-width: 768px) {

	.g-col-sm-1 { grid-column: span 1; }
	.g-col-sm-2 { grid-column: span 2; }
	.g-col-sm-3 { grid-column: span 3; }
	.g-col-sm-4 { grid-column: span 4; }
	.g-col-sm-5 { grid-column: span 5; }
	.g-col-sm-6 { grid-column: span 6; }
	.g-col-sm-7 { grid-column: span 7; }
	.g-col-sm-8 { grid-column: span 8; }
	.g-col-sm-9 { grid-column: span 9; }
	.g-col-sm-10 { grid-column: span 10; }
	.g-col-sm-11 { grid-column: span 11; }

}


@media screen and (min-width: 1024px) {

	.g-col-md-1 { grid-column: span 1; }
	.g-col-md-2 { grid-column: span 2; }
	.g-col-md-3 { grid-column: span 3; }
	.g-col-md-4 { grid-column: span 4; }
	.g-col-md-5 { grid-column: span 5; }
	.g-col-md-6 { grid-column: span 6; }
	.g-col-md-7 { grid-column: span 7; }
	.g-col-md-8 { grid-column: span 8; }
	.g-col-md-9 { grid-column: span 9; }
	.g-col-md-10 { grid-column: span 10; }
	.g-col-md-11 { grid-column: span 11; }

}


@media screen and (min-width: 1280px) {

	.g-col-lg-1 { grid-column: span 1; }
	.g-col-lg-2 { grid-column: span 2; }
	.g-col-lg-3 { grid-column: span 3; }
	.g-col-lg-4 { grid-column: span 4; }
	.g-col-lg-5 { grid-column: span 5; }
	.g-col-lg-6 { grid-column: span 6; }
	.g-col-lg-7 { grid-column: span 7; }
	.g-col-lg-8 { grid-column: span 8; }
	.g-col-lg-9 { grid-column: span 9; }
	.g-col-lg-10 { grid-column: span 10; }
	.g-col-lg-11 { grid-column: span 11; }

}

