/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

html {
	box-sizing: border-box;
}

*,*:before,*:after {
	box-sizing: inherit
}

body {
}

.header {
	padding-top: 21px;
	padding-bottom: 16px;
}

.header h1 {
	padding-bottom: 21px;
}

.main-area {
	padding-bottom: 16px;
}

.sidebar {
	padding-bottom: 16px;
}

.footer {
	padding-bottom: 16px;
}
