body {
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.container {
   width: 300px;
}

@media(min-width: 700px) {
   .container{
      width: 500px;
   }
}

.img {
   display: block;
   width: 100%;
}

.img-lg {
   display: block;
   width: 100%;
}

