/*

My Custom CSS

*/


/* --------------------------------------
   Layout
   -------------------------------------- */




/* --------------------------------------
   Typography
   -------------------------------------- */



/* --------------------------------------
   Navbar
   -------------------------------------- */

  .navbar-brand {
    padding: 12px 15px;
  }

/* --------------------------------------
   Carousel
   -------------------------------------- */

   #myCarousel {
     margin-top: 60px;
     font-size: 1rem;
   }

   .carousel-caption {
     font-size: 1.5em;
   }

   .carousel-caption h4 {
     font-size: 2em;
   }

   #myCarousel .item {height: 400px;}

   #slide1 {
     background: url('../images/carousel_medium_01.jpg') top center repeat;
   }

   #slide2 {
     background: url('../images/carousel_medium_02.jpg') top center repeat;
   }

   #slide3 {
     background: url('../images/carousel_medium_03.jpg') top center repeat;
   }

   /* --------------------------------------
      Media Queries
      -------------------------------------- */

 @media (min-width: 1200px) {

   #myCarousel .item {height: 500px;}

   #myCarousel {font-size: 1.5rem;}

   #slide1 {
     background: url('../images/carousel_large_01.jpg') top center repeat;
   }

   #slide2 {
     background: url('../images/carousel_large_02.jpg') top center repeat;
   }

   #slide3 {
     background: url('../images/carousel_large_03.jpg') top center repeat;
   }
 }

@media (max-width: 768px) {

   #myCarousel .item {height: 310px;}

   #myCarousel {font-size: 0.8rem;}

  #slide1 {
    background: url('../images/carousel_small_01.jpg') top center repeat;
  }

  #slide2 {
    background: url('../images/carousel_small_02.jpg') top center repeat;
  }

  #slide3 {
    background: url('../images/carousel_small_03.jpg') top center repeat;
  }
}



/* --------------------------------------
   Global Styles
   -------------------------------------- */



/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

}

/* Large desktop */
@media (min-width: 1200px) {

}
