/* GLobal Style */
html {
	background-color: #869960;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit
}

body {
	font-family: sans-serif;
	font-size: 87%;
	font-weight: 300;
}

.container {
	max-width: 940px;
	margin: 0 auto;
	background-color: #FFF;
	padding-left: 40px;
	padding-right: 40px;
}

.text-style {
	text-indent: 1.8em;
}

/* Header Style */
/* Header Style */
.header {
	padding-top: 20px;
	color: #617140;
	font-weight: 400;
}

.header-title {
	margin: 0;
	font-size: 165%;
}

.header-slogan {
	margin: 0;
}

/* Navitation Bar Style */
.nav {
	margin-top: 20px;
}

.nav-list {
	display: flex;
	margin: 0;
	padding: 0;
	position: relative;
}

.nav-sublist {
	position: absolute;
	z-index: 999;
	background-color: #e5e9dc;
	margin: 0;
	padding: 0;
	top: 3rem;
	left: 0;
	right: 0;
	width: 10rem;
	display: none;
}


.nav-item {
	list-style: none;
	margin-right: 5px;
	position: relative;
}

.nav-mega {
	list-style: none;
}

.nav-mega-wrap {
	display: flex;
	flex-direction: row;
	position: absolute;
	z-index: 999;
	top: 3rem;
	left: 0;
	width: 100%;
}

.nav-mega:hover .nav-mega-sublist{
	display: block;
}


.nav-mega-sublist {
	background-color: #e5e9dc;
	margin: 0;
	padding: 0;
	width: 10rem;
	display: none;
}

.nav-mega-item-header, nav-mega-item {
	text-align: left;
	padding: 0;
	margin: 0;
	padding-top: 1rem;
	padding-left: 1rem;
}

.nav-mega-item-header::before {
	content: "\25B6";
	margin-right: 5px;
}

.nav-link {
	display: block;
	color: #617140;
	text-decoration: none;
	padding: 10px 20px;
	border: 3px solid #e5e9dc;
	border-bottom: none;
}

.nav-link:hover {
	background-color: #e5e9dc;
}

.nav-item:hover .nav-sublist{
	display: block;
}



/* Content Style */
.content-area {
	display: flex;
	border-top: 3px solid #e5e9dc;
	border-bottom: 3px solid #e5e9dc;
}

/* Main-Area Style */
.main-area {
	width: 66%;
	padding-right: 40px;
}

/* card Style */
.card {
	display: flex;
	margin-top: 1rem;
}

.card-image {
	width: 50%;
	height: 15rem;
	display: block;
	margin-right: 1rem;
	object-fit: cover;
	object-position: center;
}

.card-title {
	text-align: center;
	margin: 0;
	text-transform: Uppercase;
}

.card-description {
	font-weight: 100;
	font-size: 1rem;
	/* text-align: justify; */
}

/* SideBar Style */
.sidebar {
	width: 34%;
	height: 100%;
	background-color: #e5e9dc;
	padding: 20px 40px;
	font-size: 85%;
}


/* Footer */
.footer {
	text-align: center;
	font-size: 85%;
	color: #999;
	padding-bottom: 20px;
	padding-top: 20px;
}
