.square {
  width: 150px;
  height: 150px;
  margin: 1rem 0 2rem 1rem;
  background: blue;
}

/* Transition */
.square {
  transition: background, width, border-radius, transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

#square .square:hover {
  background: red;
  transform: translate(1000px, 0px);
}

#rect .square:hover {
  width: 450px;
}

#circle .square:hover {
  border-radius: 50%;
  background: purple;
}
