/* Custom Fonts */
@font-face {
	font-family: 'PTSans';
	src: 	url('fonts/PT-Sans.eot');
   src: 	url('fonts/PT-Sans.eot?#iefix') format('embedded-opentype'),
      	url('fonts/PT-Sans.woff') format('woff'),
         url('fonts/PT-Sans.ttf') format('truetype'),
         url('fonts/PT-Sans.svg#pt_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTSans';
	src: 	url('fonts/PT-Sans-Bold.eot');
   src: 	url('fonts/PPT-Sans-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans-Bold.woff') format('woff'),
         url('fonts/PT-Sans-Bold.ttf') format('truetype'),
         url('fonts/PT-Sans-Bold.svg#pt_sansbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PTSans';
	src: 	url('fonts/PT-Sans-Italic.eot');
   src: 	url('fonts/PPT-Sans-Italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans-Italic.woff') format('woff'),
         url('fonts/PT-Sans-Italic.ttf') format('truetype'),
         url('fonts/PT-Sans-Italic.svg#pt_sansitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'PTSans';
	src: 	url('fonts/PT-Sans-BoldItalic.eot');
   src: 	url('fonts/PPT-Sans-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans-BoldItalic.woff') format('woff'),
         url('fonts/PT-Sans-BoldItalic.ttf') format('truetype'),
         url('fonts/PT-Sans-BoldItalic.svg#pt_sansbold_italic') format('svg');
	font-weight: bold;
	font-style: italic;
}

html {
	background-color: #608699;
	line-height: 1.7;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: 'PTSans', Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

.show-large {
	display: none;
}



/* Main Column Typography */

.section {
	padding: 0;
}


@media screen and (min-width: 767px) {

	.section {
		padding-left: 40px;
		padding-right: 40px;
	}

}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	overflow: hidden;
}

.container--fluid {
	max-width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}


@media screen and (min-width: 767px) {

	.show-large {
		display: block;
	}

	.container--fluid {
		max-width: 960px;
		margin: 0 auto;
		padding: 0 20px;
	}

}

@media screen and (min-width: 1023px) {

	.container {
		max-width: 1000px;
	}

	.container--fluid {
		max-width: 1000px;
	}

	body {
		font-size: 16px;
	}
}

@media screen and (min-width: 1280px) {



	.container {
		max-width: 1200px;
	}
	
	.container--fluid {
		max-width: 1200px;
	}
}

.header {
	padding-top: 20px;
	color: #FFF;
	background-color: #405c71;
	position: relative;
}

.header__title {
	margin: 0;
	font-weight: normal;
	font-size: 165%;
}

.header__slogan {
	font-size: 90%;
}

/* Site Navigation */
.nav {
	margin-top: 20px;
}

.nav__menu {
	display: block;
	font-size: 2em;
	position: absolute;
	padding: 0 15px;
	border-radius: 4px;
	top: 15px;
	right: 10px;
}


.nav__menu:hover {
	background-color: darkgray;
	color: white;
	cursor: pointer;
}

.nav__list {
	display: none;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.menu-click {
	display: block;
}

.nav__item {
	list-style: none;
}

.nav__link {
	display: block;
	color: #FFF;
	background-color: #365267;
	padding: 15px 0;
	text-align: center;
}

.nav__link:hover {
	background-color: #2c465a;
}

@media screen and (min-width: 768px) {

	.nav__menu {
		display: none;
	}

	.nav__list {
		display: block;
		display: flex;
		flex-wrap: wrap;
	}

	.nav__item {
		width: calc(100%/3);
		margin-right: 0;
	}

	.nav__link {
		margin-right: 5px;
		margin-bottom: 5px;

	}

}

@media screen and (min-width: 1023px) {

	.nav__item {
		width: auto;
		margin-right: 5px;
	}

	.nav__link {
		padding: 10px 20px;
		margin: 0px;
		text-align: center;
	}

}

/* End Site Navigation */
.content-area {
	background-color: #FFF;
	padding-bottom: 40px;
	padding-top: 20px;
}

@media screen and (min-width: 767px) {
	.content-area {
		padding-top: 40px;
	}
}

@media screen and (min-width: 1023px) {
	.main-area {
		padding-right: 40px;
	}
}


.sidebar {
	color: #999;
	font-size: 85%;
}

.sidebar h3 {
	font-size: 138.5%;
	margin-bottom: 7px;
}

.info-box {
	background-color: #efeedb;
	border: 5px solid #e6e5c2;
	padding: 20px 40px 7px 40px;
	margin-bottom: 1em;
}

.box-a {
	background-color: #e7eff5;
	padding: 20px 20px 0 20px;
	border: 2px solid #d3dee7;
	margin-bottom: 15px;
}

@media screen and (min-width: 767px) {
	.box-a {
		margin-bottom: 30px;
	}
}

/* Footer Style */
.footer {
	text-align: center;
	font-size: 85%;
	color: #FFF;
	padding-bottom: 20px;
	padding-top: 20px;
}

/* Grid Style */
.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;
}

.col {
	width: 100%;
	padding: 0 20px;
}

.col-xs-11 {width: 91.662%}
.col-xs-10 {width: 83.332%;}
.col-xs-9 {width: 75%;}
.col-xs-8 {width: 66.662%;}
.col-xs-7 {width: 58.331%}
.col-xs-6 {width: 50%;}
.col-xs-5 {width: 41.662%}
.col-xs-4 {width: 33.332%;}
.col-xs-3 {width: 25%;}
.col-xs-2 {width: 16.662%;}
.col-xs-1 {width: 8.332%;}

@media screen and (min-width: 768px) {

	.col-sm-11 {width: 91.662%}
	.col-sm-10 {width: 83.332%;}
	.col-sm-9 {width: 75%;}
	.col-sm-8 {width: 66.662%;}
	.col-sm-7 {width: 58.331%}
	.col-sm-6 {width: 50%;}
	.col-sm-5 {width: 41.662%}
	.col-sm-4 {width: 33.332%;}
	.col-sm-3 {width: 25%;}
	.col-sm-2 {width: 16.662%;}
	.col-sm-1 {width: 8.332%;}

}


@media screen and (min-width: 1024px) {

	.col-md-11 {width: 91.662%}
	.col-md-10 {width: 83.332%;}
	.col-md-9 {width: 75%;}
	.col-md-8 {width: 66.662%;}
	.col-md-7 {width: 58.331%}
	.col-md-6 {width: 50%;}
	.col-md-5 {width: 41.662%}
	.col-md-4 {width: 33.332%;}
	.col-md-3 {width: 25%;}
	.col-md-2 {width: 16.662%;}
	.col-md-1 {width: 8.332%;}

}

@media screen and (min-width: 1280px) {

	.col-lg-11 {width: 91.662%}
	.col-lg-10 {width: 83.332%;}
	.col-lg-9 {width: 75%;}
	.col-lg-8 {width: 66.662%;}
	.col-lg-7 {width: 58.331%}
	.col-lg-6 {width: 50%;}
	.col-lg-5 {width: 41.662%}
	.col-lg-4 {width: 33.332%;}
	.col-lg-3 {width: 25%;}
	.col-lg-2 {width: 16.662%;}
	.col-lg-1 {width: 8.332%;}

}

