.site-header nav {
	
	ul {
		padding: 0;
		margin: 0;
		@extend .group;
	}

	li {
		list-style: none;
		float: left;
		margin-right: 10px;
	}

	a {
		display: block;
		padding: 10px;
		background-color: $beautifulHue;
		color: #FFF;
		text-decoration: none;
	}

}