.box-a {
  background-color: lightgray;
  padding: 30px;
  border: 3px solid black;
  margin-bottom: 20px;
  width: 200px;
  height: 150px;
  box-sizing: border-box;
}

.box-b {
  background-color: orange;
  width: 200px;
  height: 150px;
}
