body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  background: url('../img/backgroundImage.jpg') no-repeat center fixed;
  background-size: cover;
}

.card-header {
  font-family: 'Noto Serif', serif;
  font-size: 2.5rem;
  position: relative;
}

.btnSignOut {
  position: absolute;
  font-size: 1.5em;
  cursor: pointer;
  opacity: 0.3;
  right: 0.3em;
  top: 0.45em;
}

.user-photo {
  display:block;
  z-index: 999;
  width: 3em;
  height: 3em;
  margin: 0 auto;
  margin-top: -0.5em;
}

.user-name {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
}

.message-field {
  padding: 0 0.5em;
}

.message-field:focus {
  outline: none;
}

.form-control-plaintext {
  font-weight: 200;
  padding: 0 0.5rem;
}

.form-control::placeholder {
  opacity: 0.5;
  font-weight: 300;
}

.col-form-label {
  padding: 0.5rem;
}

.message-list {
  list-style: none;
  margin: 0px;
  padding: 20px;
  height: 40vh;
  overflow: auto;
}

.message-item {
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 24px;
}

.message-item:last-child {
    margin: 0px;
}

.chat-username {
    margin-right: 0.4rem;
}

.login__signup {
  margin: 0;
  padding: 0;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: gray;
}
.login__signup a {
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.text-info {
  font-size: 0.8rem;
  margin: 0;
}


.form-group {
  margin-bottom: 40px;
}

.form-control {
  border: none;
  border-bottom: 2px solid #0DB8DE;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  /* outline: 0; */
  margin-bottom: 20px;
  padding-left: 0px;
}

.form-control:focus {
  border-color: inherit;
  box-shadow: none;
  border-bottom: 2px solid #0DB8DE;
  /* outline: 0; */
}

.form-control-label {
  font-size: 10px;
  color: #6C6C6C;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

.mdl-card {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.avatar-bg {
  display: block;
  background-color: lightgray;
  width: 100%;
  height: 12em;
  /* padding-top: 10em; */
}

.avatar-image {
  display:block;
  width: 12em;
  height: 12em;
  margin: 0 auto;
  margin-top: -10em;
}

.avatar-name {
  font-size: 2rem;
  font-weight: lighter;
}

.avatar-email {
  font-size: 1.2rem;
  font-weight: normal;
}
