.square {
	width: 150px;
	height: 150px;
	margin: 1rem 0 2rem 1rem;
	background: blue;
}

/* From blue to red */
#square .square {

}

#square .square:hover {
  background: red;
}

/* From square to rectangle */
#rect .square {

}

#rect .square:hover {
  width: 450px;
}

/* From square to circle */
#circle .square {

}

#circle .square:hover {
  border-radius: 50%;
  background: purple;
}
