/* Global Style */

/* Divider Style */
.divider--light,
.divider--dark {
   width: 250px;
   border-top: solid 5px;
}

.divider--light {
   border-color: #fff;
}

.divider--dark {
   border-color: #2c3e50;
}


/* Nav Style */
.nav__bg {
   background-color: #233140;
}

.nav__brand {
   color: #fff;
   font-size: 1.5em;
   text-transform: uppercase;
   padding-top: 10px;
   padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
   .nav__brand {
      font-size: 2em;
   }
}

/* Header Style */
.header {
   background-color: #00979c;
   padding-top: 122px;
   padding-bottom: 50px;
   color: #fff;
   font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
   .header {
      padding-top: 184px;
      padding-bottom: 100px;
      font-size: 1rem;
   }
}


.header__image {
   margin-bottom: 20px;
   border-radius: 30%;
   box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24),
      0 1.5px 6px rgba(0, 0, 0, 0.12);
}

.header__title {
   font-size: 3em;
   text-transform: uppercase;
   font-weight: 200;
}

.header__slogan {
   font-size: 1.75em;
   text-transform: uppercase;
   margin: 0;
}

/* Course Style */
.course {
   background-color: #fff;
}

.course__title {
   text-align: center;
}

.course__link {
   display: block;
}

.course__image {
   width: 100%;
   display: block;
}
