/* Custom Fonts */
@font-face {
	font-family: 'PTSans';
	src: 	url('fonts/PT-Sans.eot');
   src: 	url('fonts/PT-Sans.eot?#iefix') format('embedded-opentype'),
      	url('fonts/PT-Sans.woff') format('woff'),
         url('fonts/PT-Sans.ttf') format('truetype'),
         url('fonts/PT-Sans.svg#pt_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTSans';
	src: 	url('fonts/PT-Sans-Bold.eot');
   src: 	url('fonts/PPT-Sans-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans-Bold.woff') format('woff'),
         url('fonts/PT-Sans-Bold.ttf') format('truetype'),
         url('fonts/PT-Sans-Bold.svg#pt_sansbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PTSans';
	src: 	url('fonts/PT-Sans-Italic.eot');
   src: 	url('fonts/PPT-Sans-Italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans-Italic.woff') format('woff'),
         url('fonts/PT-Sans-Italic.ttf') format('truetype'),
         url('fonts/PT-Sans-Italic.svg#pt_sansitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'PTSans';
	src: 	url('fonts/PT-Sans-BoldItalic.eot');
   src: 	url('fonts/PPT-Sans-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans-BoldItalic.woff') format('woff'),
         url('fonts/PT-Sans-BoldItalic.ttf') format('truetype'),
         url('fonts/PT-Sans-BoldItalic.svg#pt_sansbold_italic') format('svg');
	font-weight: bold;
	font-style: italic;
}

html {
	background-color: #608699;
	line-height: 1.7;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: 'PTSans', Arial, sans-serif;
	font-size: 15px;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

.show-large {
	display: none;
}


/* Main Column Typography */
.main-area h2 {
	font-size: 165%;
	font-weight: normal;
}

.section {
	padding-left: 20px;
	padding-right: 20px;
}


.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	overflow: hidden;
}

.header {
	padding-top: 20px;
	color: #FFF;
	background-color: #405c71;
}

.header__title {
	margin: 0;
	font-weight: normal;
	font-size: 165%;
}

.header__slogan {
	font-size: 90%;
	margin: 0;
}

/* Site Navigation */
.nav {
	margin-top: 20px;
}

.nav__list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.nav__item {
	list-style: none;
	width: 50%;
}

.nav__link {
	display: block;
	color: #FFF;
	background-color: #365267;
	padding: 15px 0;
	margin-right: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.nav__link:hover {
	background-color: #2c465a;
}

/* End Site Navigation */
.content-area {
	background-color: #FFF;
	padding-bottom: 40px;
	padding-top: 20px;
}

.main-area {
	width: 66%;
	float: left;
	padding-right: 40px;
	box-sizing: border-box;
}

.sidebar {
	color: #999;
	font-size: 85%;
}

.sidebar h3 {
	font-size: 138.5%;
	margin-bottom: 7px;
}

.info-box {
	background-color: #efeedb;
	border: 5px solid #e6e5c2;
	padding: 20px 40px 7px 40px;
	margin-bottom: 1em;
}

.box-a {
	background-color: #e7eff5;
	padding: 20px 20px 0 20px;
	border: 2px solid #d3dee7;
	margin-bottom: 15px;
}

/* Footer Style */
.footer {
	text-align: center;
	font-size: 85%;
	color: #FFF;
	padding-bottom: 20px;
	padding-top: 20px;
}

/* Grid Style */
.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}

.col {
	width: 100%;
	padding: 0 10px;
}

.col-xs-11 {width: 91.662%}
.col-xs-10 {width: 83.332%;}
.col-xs-9 {width: 75%;}
.col-xs-8 {width: 66.662%;}
.col-xs-7 {width: 58.331%}
.col-xs-6 {width: 50%;}
.col-xs-5 {width: 41.662%}
.col-xs-4 {width: 33.332%;}
.col-xs-3 {width: 25%;}
.col-xs-2 {width: 16.662%;}
.col-xs-1 {width: 8.332%;}

