.mdl-card {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 20px;
  height: 200px;
  overflow: auto;
}
ul li {
    font-family: Roboto;
    font-size: 120%;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 24px;
}
ul li:last-child {
    margin: 0px;
}
ul .example-chat-username {
    margin-right: 10px;
}
