html, 
body {
  margin: 0;
  background: #e6ecf1;
  font-family: 'Roboto', sans-serif;
}

.instagram {
  margin: 0;
  background-color: #e6ecf1;
  width: 100%;
}

.nav-header {
  height: 50px;
  width: 100%;
  position: sticky;
  top: 0;
  background: #fafafa;
  border-bottom: 1px solid #eee;
  z-index: 99;
}

.nav-header__container {
  width: 100%;
  position: relative;
}

.nav-header img {
  max-width: 100px;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  /* justify-self: center; 
  align-self: center; */
}
.nav-header .home-cta,
.nav-header .camera-cta {
  position: absolute;
  top: 12px;
  color: gray;
  font-size:1.5em;
  font-weight: bold;
  cursor: pointer;
}
.nav-header .home-cta {
  left: 10px;
}
.nav-header .camera-cta {
  right: 10px;
}

.instagram-post__item {
  padding-top: 50px;
  background-color: #fff;
}

.instagram-post__item ~ .instagram-post__item {
  padding-top: 0;
}

.instagram-post__item {
  padding: 5px 0;
}
.instagram-post__item .header {
  height: 3em;
  border-bottom: 1px solid #fff;
  margin: 7.5px 10px;
  display: flex;
  align-items: center;
}
.header-image {
  width: 2em;
  height: 2em;
  display: inline-block;
}

.header-menu {
  cursor: pointer;
  width: 2em;
  height: 2em;
  border-radius: 2em;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.level-right {
  margin-top: 0 !important;
}

.header-menu:hover {
  background-color: rgb(242, 240, 240);
}

.instagram-post {
  list-style: none;
  overflow: auto;
}

.post-image {
  width: 100%;
  height: 100%;
}

.instagram-post__item .header img {
  border-radius: 50%;
}
.instagram-post__item .header .username {
  padding-left: 5px;
  font-size: 0.90rem;
  font-weight: bold;
}
.instagram-post__item .image-container {
  width: 100%;
  height: auto;
}
.instagram-post__item .content {
  margin: 7.5px 10px;
}
.instagram-post__item .far.fa-heart,
.instagram-post__item .fas.fa-heart {
  cursor: pointer;
}
.instagram-post__item .fas.fa-heart {
  color: #f06595;
}
.instagram-post__item .likes {
  margin: 5px 0;
  margin-bottom: 5px !important;
  font-size: 0.85rem;
  font-weight: bold;
}
.instagram-post__item .caption {
  font-size: 0.85rem;
}
.instagram-post__item .caption span {
  font-weight: bold;
}

.instagram-post__item:last-child {
  margin-bottom: 80px;
}

.selected-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 330px;
}

.filter-container {
  height: 210px;
  padding: 30px 10px;
  white-space: nowrap;
  overflow-x: hidden;
}

.filter-type {
  width: 100px;
  display: inline-block;
  margin: 0 3px;
}
.filter-type p {
  font-size: 11px;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 5px;
}
.filter-type .img {
  cursor: pointer;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center center;
}

.filter-type:last-child {
  margin-right: 20px;
}

.caption-input {
  border-color: #ccc;
  background-color: #fff;
  font-size: 1.0rem;
  width: 100%;
  height: 6em;
  padding: 0.6em;
  margin-bottom: 1em;
  border-bottom: 1px solid #eeeeee;
}

.caption-input:focus{
	outline:0;
	border:1px solid #999;
}
 

@media (min-width: 700px) {
  .instagram,
  .nav-header__container {
    width: 598px;
    margin: 0 auto;
  }
  .avatar-preview,
  .avatar-upload {
    width: 30m;
  }
}

.instagram-upload {
  max-width: 960px;
  margin: 4em auto;
  padding: 20px;
  background:#F9F9F9
}
.instagram-upload__title {
  font-size: 2em;
  text-align: center;
  font-weight: 400;
  margin: 20px 0 20px;
}

.avatar-preview {
  border:1px solid #ccc;
  background-color: #fff;
  font-size: 1.0rem;
  width: 100%;
  height: auto;
  margin: 2em auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-preview:hover{
	border:1px solid #999;
}

.avatar-input {
  display: none;
}

.avatar-label {
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  padding: 0.3em 2em;
  text-align: center;
  font-weight: 400;
  font-size: 4em;
  color: gray;
  background-color: #fff;
  /* box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12); */
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-label:hover {
  color: #000;
}

.avatar-preview img {
  border-color: #ccc;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-upload {
  width: 100%;
  margin: 0 auto;
}

.caption-input {
  display: block;
  border-color: #ccc;
  background-color: #fff;
  font-size: 1.0rem;
  width: 100%;
  height: 6em;
  padding: 0.6em;
  margin-bottom: 1em;
}

.caption-input:hover{
	outline:0;
	border:1px solid #999;
}

.btn-upload {
  font-size: 1.5rem;
  color: #fff;
  background-color: rgb(78, 73, 73);
  padding: 0.5em;
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-bottom: 20px;
}

.btn-upload:hover {
  background-color: #000;
  color: #fff;
}


