.container {
  background-color: #eee;
  width: 100%;
  height: 100dvh;
  display: grid;
  grid-template-rows: 150px 1fr 150px;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "header header"
    "main-area sidebar"
    "footer footer";
  grid-gap: 10px;
}

.item {
  padding: 20px;
  font-size: 30px;
  font-family: sans-serif;
  color: #fff;
}
.item--1 {
  background-color: orange;
  grid-area: header;
}
.item--2 {
  background-color: green;
  grid-area: main-area;
}
.item--3 {
  background-color: violet;
  grid-area: sidebar;
}
.item--4 {
  background-color: pink;
  grid-area: footer;
}
